html,
body {
    background-color: #fafafa;
    color: #424242;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.quote {
    font-size: 36px;
    padding: 20px;
}

.author {
    color: #636b6f;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #fafafa;
    color: #424242;
    padding: 0.5%;
    border: 1px solid #b3b3b3;
}

.btn:hover {
    background-color: #636b6f;
    color: #fafafa;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0px 2px 2px #b3b3b3;
}